$ikLightGrey: #d1d1d1;
$ikExtraLightGrey: #f7f7f7;
$ikYellow: #ffcd00;
$ikTeal: #00adbb;
$ikDarkTeal: #09828b;
$ikMediumGrey: #8b8b87;
$iKDarkGrey: #bababa;
$ikCharcoal: #3f3e38;
$ikGreen: #4b996f;
$ikRed: #b3344b;

$layout-breakpoint-mobile: 767px;
