#hubspotPDForm,
#ReviewForm {
  // padding: 6% 7% 5%;
  transition: 2s ease-in;
  width: 100%;
  margin: auto;
  text-align: left;

  ::-webkit-input-placeholder {
    /* Edge */
    box-sizing: content-box;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;

    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-size: 15px !important;
    font-weight: 400 !important;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 288px;
    height: 20px;
    left: 10px;
    top: 10px;
  }

  :-ms-input-placeholder {
    /* Internet Explorer */

    box-sizing: content-box;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;

    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-size: 15px;
    font-weight: 400 !important;
    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 288px;
    height: 20px;
    left: 10px;
    top: 10px;
  }

  ::placeholder {
    box-sizing: content-box;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;

    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0px;
    color: rgba(112, 112, 112, 1);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-size: 15px;
    font-weight: 400 !important;

    font-style: normal;
    font-family: Roboto, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 288px;
    height: 20px;
    left: 10px;
    top: 10px;
  }
  input#review_score-a13c11cf-7bff-4436-8bc6-177fe7c39228 {
    width: 14% !important;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
  }
  h3 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0;
    font-family: 'Baloo 2', sans-serif;
    color: #000;
    line-height: 1.2;
  }

  .hs-form-field {
    margin-bottom: 15px;

    .hs-input {
      font-size: 16px;
      padding: 8px;
      width: 100%;
      display: inline-block;
      /* position: absolute; */
      box-sizing: border-box;
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -ms-transform-origin: center;
      -webkit-transform-origin: center;
      transform-origin: center;
      opacity: 1;
      background-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgba(34, 34, 35, 1);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-left-color: rgba(34, 34, 35, 1);
      border-left-style: solid;
      border-left-width: 1px;
      border-right-color: rgba(34, 34, 35, 1);
      border-right-style: solid;
      border-right-width: 1px;
      border-top-color: rgba(34, 34, 35, 1);
      border-top-style: solid;
      height: 38px;
      font-size: 15px !important;
      font-weight: 400 !important;
      font-style: normal;
      font-family: Roboto, Arial;
    }

    .hs-input.select {
      padding: 0px;
    }

    label {
      font-family: 'Roboto', sans-serif;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      line-height: 20px;
      letter-spacing: 0px;
      color: rgba(29, 29, 27, 1);
      -webkit-text-stroke: unset;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      height: 16px;
      left: 10px;
      top: 8px;
    }
  }

  .hs-richtext {
    margin-bottom: 15px;
  }

  .hubspot-link__container.sproket {
    display: none;
  }

  .proceed-to-checkout-btn {
    line-height: 1;
    font-weight: 700;
    font-family: 'Roboto Bold', sans-serif;
    display: inline-block;
    position: relative;
    letter-spacing: 0.01em;
    font-size: 15px;
    min-height: 40px;
    background: 0;
    margin: initial;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    padding: 11px 50px;
    background-color: #fc0;
    color: #000;
    border: 0;

    &:hover {
      background-color: #df2c4f;
      color: #f1f1f1;
    }
  }

  form,
  .submitted-message {
    font-weight: 400;
    width: 70%;
    margin: auto;
    padding: 4rem 0 12rem;
  }

  form input[type='text'],
  form input[type='email'],
  form input[type='password'],
  form input[type='tel'],
  form input[type='number'],
  form input[type='file'],
  form select,
  form textarea {
    padding: 0;
    background-color: #fff;
    padding-right: 32px;
    color: #959595;
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    line-height: 1em;
    border-radius: 0;
    outline: 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    border: 1px solid #000;
    overflow: hidden;
    position: relative;
  }
  form textarea {
    height: 15rem !important;
  }
  label {
    font-size: 16px;
    font-family: Roboto, sans-serif;
  }
  input[type='number'] {
    width: 20% !important;
    text-align: center;
  }

  .hs-form-28f7eb66-2de8-4b08-8dbe-b59d918490d0_5b1190a8-8ccb-4ec6-b278-243e261a4aac
    fieldset.form-columns-1
    .hs-input {
    width: 100%;
  }
}

// @media (max-width: 767.98px) {
//   #hubspotPDForm,
//   #ReviewForm {
//     .proceed-to-checkout-btn {
//       font-size: 12px !important;
//       width: 100%;
//     }
//   }
// }
