@import './uicommons/variables.scss';

body {
  font-family: Roboto;
}

h3 {
  font-family: Roboto;
}

.ik-shop-checkout__container
  section.form-container
  .input-item
  input::-webkit-input-placeholder,
.ik-shop-checkout__container
  section.form-container
  .input-item
  select::-webkit-input-placeholder {
  /* Edge */
  color: #c6c3c3;
}
.ik-shop-checkout__containerF
  section.form-container
  .input-item
  select::-webkit-input-placeholder,
.ik-shop-checkout__container
  section.form-container
  .input-item
  input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c6c3c3;
}
.ik-shop-checkout__container
  section.form-container
  .input-item
  select::placeholder,
.ik-shop-checkout__container
  section.form-container
  .input-item
  input::placeholder {
  color: #c6c3c3;
}
.ik-shop-checkout__container {
  .capture-view {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 20px;

    .first-block {
      margin-right: 15px;
      .step-info {
        display: flex;
        flex-direction: column;
        .step-value {
          text-transform: uppercase;
          color: $iKDarkGrey;
          font-size: 14px;
          font-weight: 600;
        }

        .step-title {
          color: $ikCharcoal;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }

    .second-block {
      margin-left: 15px;
    }

    .margin-top-20 {
      margin-top: 20px;
    }

    .card {
      background-color: white;
      border-radius: 16px;
      box-shadow: 0px 5px 20px $ikLightGrey;
      padding: 20px;
      position: relative;

      label {
        color: $ikCharcoal;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 20px;
        margin-bottom: 15px;
        display: block;
      }

      button.card-acc-toggle {
        background: none;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        &.expanded {
          transform: rotate(0deg);
        }

        &.collapsed {
          transform: rotate(180deg);
        }

        img {
          width: 16px;
          height: auto;
        }
      }
    }

    .order-summary {
      margin-top: 5rem;
    }
    .card.order-review {
      label {
        padding-bottom: 10px;
        margin-bottom: 0px;
      }
      .order-review-content {
        section {
          position: relative;
          padding-bottom: 10px;
          padding-top: 8px;
          &:not(:last-child) {
            border-bottom: 1px solid $ikLightGrey;
          }

          label {
          }

          button.edit-actions {
            position: absolute;
            top: 0px;
            right: 10px;
            img {
            }

            span {
              margin-left: 5px;
              display: inline-block;
              color: $ikDarkTeal;
              font-weight: 600;
            }
          }

          .detail-items-block {
            span {
              display: block;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }

    .order-summary {
      .img-quantity-block {
        width: 40px;
        height: 40px;
        border: 2px solid black;
        border-radius: 8px;
        position: relative;
        img {
        }

        span {
          background-color: $ikDarkTeal;
          border-radius: 50%;
          color: white;
          font-size: 12px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 15px;
          height: 15px;
          position: absolute;
          top: 0px;
          right: 0px;
          transform: translate(50%, -50%);
        }
      }

      .order-summary-grid {
        display: grid;
        grid-template-rows: auto;

        .order-line {
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $ikExtraLightGrey;
          font-size: 14px;
          align-items: center;

          &.bold {
            font-weight: 600;
          }

          &.large {
            font-size: 16px;
          }
          &.no-border-btm {
            border-bottom: none;
          }

          span {
            &.bold {
              font-weight: 600;
            }

            &.teal {
              color: $ikDarkTeal;
            }

            &.green {
              color: #4b996f;
            }

            &.upperCase {
              text-transform: uppercase;
            }
          }

          input {
            background-color: $ikExtraLightGrey;
            border-radius: 8px;
            color: $iKDarkGrey;
            border: none;
            padding: 15px;
            height: fit-content;
            &:focus {
              border-color: $ikTeal;
            }
          }

          button {
            background: none;
            height: fit-content;
            color: $ikDarkTeal;
            font-weight: 600;
            border: none;
            padding: 8px;
          }
        }
      }
    }

    .payment-note {
      padding-top: 20px;
      padding-bottom: 20px;
      h3 {
        font-size: 20px;
        margin-top: 24px;
      }
      a {
        color: $ikDarkTeal;
        font-weight: 600;
      }
    }
  }

  @media (max-width: $layout-breakpoint-mobile) {
    .capture-view {
      padding: 15px;
      grid-template-columns: 1fr;
      .first-block {
        margin-right: 0px;
      }
    }
    .stepper-container__stepper {
      margin-right: 5%;
    }
  }

  /* override all buttons */
  button {
    background: none;
    border: none;
    padding: 8px;
  }

  .btn {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 16px;
    border: 2px solid black;
    width: 150px;
    height: 48px;
    margin-top: 20px;
    &.sec-btn {
      color: black;
      background-color: white;
    }
    &.prim-btn {
      color: white;
      background-color: black;
    }

    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }

    &.complete-order {
      background-color: #fc0;
      width: 100%;
      border: 0;
      color: #000;
      padding: 11px;
      height: 48px;
      display: block;

      &:hover {
        background-color: #000;
        color: #ffffff;
      }

      &:disabled {
        background-color: $ikExtraLightGrey;
        opacity: 1;
      }
    }
  }

  /*override all form inputs */
  section.form-container {
    padding: 20px 0px;
    .input-item {
      padding-bottom: 20px;
      label {
        font-size: 14px;
        font-weight: 600;
        color: black;
        display: block;
        padding-left: 10px;
        margin-bottom: 5px;

        &.required {
          &::after {
            content: '*';
          }
        }
      }

      input,
      select {
        border-radius: 16px;
        border: 2px solid #000;
        padding: 14px;
        width: 100%;
        color: $ikCharcoal;

        option {
          line-height: 24px;
        }
      }

      .errorMsg {
        padding-left: 10px;
        display: none;
        img {
          width: 16px;
          height: auto;
        }
        span {
          font-size: 12px;
          color: $ikRed;
          font-weight: 600;
          margin-left: 5px;
        }
      }

      &.inValid {
        input {
          border-color: $ikRed;
        }
        .errorMsg {
          display: block;
        }
      }
    }
  }

  .pinned-total-nav-block {
    border-top: 1px solid lightgrey;
    padding-top: 16px;
    .top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-left {
        img {
          width: 21px;
          height: 21px;
        }

        &__title {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;
          margin-left: 10px;
          margin-right: 10px;
        }

        &__quantity {
        }
      }

      &-right {
        &__amt {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .btm-row {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (max-width: $layout-breakpoint-mobile) {
    .pinned-total-nav-block {
      position: fixed;
      bottom: 0px;
      background-color: white;
      width: 100%;
      z-index: 10;
      left: 0px;
      padding: 20px;
    }

    .ik-shop-checkout__container .capture-view .card {
      margin-top: 1rem;
    }
  }

  //ram suburbs list
  .suburbs-list-block {
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 16px;
    position: relative;
    top: -21px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 20px;
    margin-right: 20px;

    span {
      font-size: 10px;
      display: block;
      position: relative;
      font-weight: 600;
    }

    .zone-item {
      padding-top: 5px;
      padding-bottom: 5px;
      &:hover {
        cursor: pointer;
        font-weight: 600;
      }
    }
  }

  //three dots can be externalized
  /**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
  .select-item.suburb,
  .select-item.city {
    position: relative;
  }

  .pulse-container {
    position: absolute;
    top: 48px;
    right: 39px;
  }
  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fc0;
    color: #fc0;
    box-shadow: 9999px 0 0 -5px #fc0;
    -webkit-animation: dot-pulse 1.5s infinite linear;
    animation: dot-pulse 1.5s infinite linear;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }

  .dot-pulse::before,
  .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fc0;
    color: #fc0;
  }

  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #fc0;
    -webkit-animation: dot-pulse-before 1.5s infinite linear;
    animation: dot-pulse-before 1.5s infinite linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #fc0;
    -webkit-animation: dot-pulse-after 1.5s infinite linear;
    animation: dot-pulse-after 1.5s infinite linear;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  @-webkit-keyframes dot-pulse-before {
    0% {
      box-shadow: 9984px 0 0 -5px #fc0;
    }
    30% {
      box-shadow: 9984px 0 0 2px #fc0;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #fc0;
    }
  }

  @keyframes dot-pulse-before {
    0% {
      box-shadow: 9984px 0 0 -5px #fc0;
    }
    30% {
      box-shadow: 9984px 0 0 2px #fc0;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #fc0;
    }
  }

  @-webkit-keyframes dot-pulse {
    0% {
      box-shadow: 9999px 0 0 -5px #fc0;
    }
    30% {
      box-shadow: 9999px 0 0 2px #fc0;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #fc0;
    }
  }

  @keyframes dot-pulse {
    0% {
      box-shadow: 9999px 0 0 -5px #fc0;
    }
    30% {
      box-shadow: 9999px 0 0 2px #fc0;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #fc0;
    }
  }

  @-webkit-keyframes dot-pulse-after {
    0% {
      box-shadow: 10014px 0 0 -5px #fc0;
    }
    30% {
      box-shadow: 10014px 0 0 2px #fc0;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #fc0;
    }
  }

  @keyframes dot-pulse-after {
    0% {
      box-shadow: 10014px 0 0 -5px #fc0;
    }
    30% {
      box-shadow: 10014px 0 0 2px #fc0;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #fc0;
    }
  }
}

.loaderAnimContainer {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  // -webkit-box-shadow: 0px 0px 8px 0px #dddddd;
  // box-shadow: 0px 0px 8px 0px #dddddd;
}

.loaderAnimContainer .loaderImage {
  display: block;
}

.loaderAnimContainer .loaderImage.customIcon {
  max-width: 70px;
  height: auto;
}

.loaderAnimContainer label {
  color: #666666;
  margin-top: 16px;
  max-width: 80%;
  text-align: center;
}

.loaderAnimContainer.expanded {
  height: 250px;
}

.loaderAnimContainer button.primary {
  background-color: #00a3b1;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  border: none;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 150px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.loaderAnimContainer button.primary.teal {
  background-color: #00a3b1;
}

.loaderAnimContainer button.secondary {
  font-size: 1.2rem;
  font-weight: 300;
  color: #373a37;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  cursor: pointer;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 15px;
  margin-bottom: 30px;
}

.loaderAnimContainer button.secondary:hover {
  text-decoration: underline;
}
