@import '../../uicommons/variables.scss';

section.delivery-details-form-business {
  margin-top: 24px;
  background-color: $ikExtraLightGrey;
  border-radius: 16px;
  padding: 16px !important;
  margin-bottom: 30px;
}
